ul> li> a {
    color: red;
}
nav>h2 {
    color: white;
    background-color: blue;
} 
p:first-of-type{
    color: red;
}
a[href]{
    color: red;
    text-decoration: none;
}
a.active{
    color: blue;
    text-decoration: underline;
}
a[target=_self]{
    background-color: orange;
}
p:last-of-type::after{
    content: "...";
}
ul li::marker{
    color: royalblue;
}
p:nth-of-type(2)::first-letter{
    font-size: 30px;
    color: red;
}